body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  background: url(../imgs/background/hip-square.png);
  overflow: auto;
}

.App {
  text-align: center;
  display: block;
  overflow-x: auto;
  width: calc(5em*12);
  height:auto;
  padding: 15px;
}

.well {
  text-align: right;
  height: 7em; 
  overflow-x: hidden;
}
